.spin {
    animation: spin 1s normal forwards ease-in-out;

}

@keyframes spin {
    0% { transform: scale(1) rotate(0); border-radius: 20%; }
    25% { transform: scale(1) rotate(90deg); border-radius: 20%; }
    50% { transform: scale(1.2) rotate(180deg); border-radius: 50%; }
    100% { transform: scale(1) rotate(360deg); border-radius: 20%; }
}